html, body {
  height: 100%;
  width: 100%;
background:url(2017-05-31-10-28-39-900x630.jpg) 

}


.cracka{
background-color: orange;
color: black;
padding: 10px;

}

.boo{
background-color: orange;
color: black;
padding: 10px;
}